@import 'url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic,cyrillic-ext)';
@import 'bxslider.css';
@import 'animate.css';
@import "reset.css";
@import "variables";
@import 'flex';
@import 'nib';
@import 'sprite';
@import 'mixins';
