*
  box-sizing border-box
a 
  img 
    display block
// Functions 
decor()
  text-decoration underline
  &:hover 
    text-decoration none
trs()
  transition ease-in-out .2s
// Colors
dark = #333333
yellow = #fbd71d
blue = #228fe3
blue2 = #2F5877
grey = #f0f0f0
grey2 = #eeeff7
grey3 = #f8f8f8
grey4 = #777777
grey5 = #bfc4d0
soft = #f7fafc
red = #e63d61
pink = #6168ad
pink2 = #7f6ca5
pink3 = #8a91a7
// Color class
a 
  display inline-block
.white
  color white
.blue 
  color blue
// Fonts
scada = 'Scada', sans-serif;
// Buttons
button 
  border none 
  vertical-align middle
  cursor pointer 
  border none
  outline none
  background transparent
menu 
  padding 0px
  margin 0px
span 
  display inline-block
  vertical-align middle
  font-size 16px
  color dark
p 
  color dark
  font-size 16px
a 
  text-decoration none
  color pink
  display inline-block
  &:hover 
    color red
h1, h2, h3, h4, h5, h6 
  color #444444
  font-weight normal
.text 
  font-size 16px
  line-height 25px
.button
  height 36px 
  line-height @height
  padding 0 18px
  display inline-block
  border-radius (4px)
  font-size 14px
  text-align: center
  cursor pointer
  trs()
.button_big
  font-size 16px
  height 45px 
  line-height @height
.button_white
  background white
  color dark
.button_pink
  background pink
  color white
  &:hover 
    color white 
    background: pink2
.button_red
  color white
  background: red
.button_width 
  width 100%
// Disabled input
input[type=text]:read-only
  background-color: #f7fafc
  color grey2
  &:focus
    border 1px solid grey2
input[type=text]:disabled,
input[type=submit]:disabled,
.select_disabled,
.button_disabled
  background: #c6c6c6 !important
  border 1px solid #c6c6c6 !important
  color #888686
  cursor default
.button_disabled:hover
  background: #c6c6c6 !important
  border 1px solid #c6c6c6 !important
  color #888686
  curosor default !important
.input_error
  border 1px solid #f07676 !important
  color #f07676
.input_success 
  border 1px solid green !important
  color green
input[type=submit]:disabled
  color white
// coll 
.col__50 
  width 50%
// H heading 
h3 
  font-size 16px
  font-weight 300 
h2 
  font-size 36px
  font-weight 300
h4 
  font-size 24px
  font-weight 300
shadow()
  box-shadow: 0 3px 10px rgba(160, 160, 160, 0.4);